<div class="status-container p-4">
    <h2 class="text-xl font-semibold mb-4">Lịch sử phòng</h2>
    <input
      type="text"
      id="searchInput"
      placeholder="Search theo cú pháp: tòa-số phòng (Ví dụ: H6-608, ...)"
      class="border rounded px-3 py-2 w-full mb-4"
    />
  
    <div class="overflow-auto">
      <table class="min-w-full border text-sm text-left">
        <thead class="bg-gray-100">
          <tr>
            <th>STT</th>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>CS</th>
            <th>Tòa</th>
            <th>Tầng</th>
            <th>Phòng</th>
            <th>Thời gian đặt</th>
            <th>Ngày</th>
            <th>Thời gian check-in</th>
            <th>Thời gian check-out</th>
            <th>Danh sách thành viên tham gia</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody id="statusBody"></tbody>
      </table>
    </div>
  </div>