<div id="student-profile-container">
    <h2>Thông Tin Cá Nhân</h2>
    <div id="profile-avatar">
      <img src="images/hcmut-logo.jpg" alt="Avatar" id="avatar-img">
    </div>
  
    <div id="student-profile">
      <p><strong>Họ và tên:</strong> <span id="profile-name"></span></p>
      <p><strong>Email:</strong> <span id="profile-email"></span></p>
      <p><strong>Ngày sinh:</strong> <span id="profile-dob"></span></p>
      <p><strong>Khoa:</strong> <span id="profile-faculty"></span></p>
      <p><strong>Ngành:</strong> <span id="profile-major"></span></p>
      <p><strong>MSSV:</strong> <span id="profile-id"></span></p>
      <p><strong>Số lượt đặt phòng:</strong> <span id="profile-bookingCount"></span></p>
    </div>
  </div>
  